*{padding:0; margin:0;}

.navbar {
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(1, 20, 128);
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

/* Estilos para los elementos de la barra de navegación */
.navbar ul {
    list-style: none;
    display: flex;
}

.home {
    margin-left: 30px;
    margin-top: 5px;
}

.login {
    margin-left: 30px;
    margin-top: 5px;
}

.signup {
    margin-left: 30px;
    margin-top: 5px;
}

.logout {
    margin-right: 30px;
    margin-top: 5px;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar a:hover , .navbar .logout-button:hover {
    color: #a6c1ee;
}

.navbar .logout-button {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s ease;
    border: none;
    background-color: transparent;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    margin-left: 1200px;
}


